body {
    background-color:#5848DB;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'sans-serif';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
